@font-face {
  font-family: "Akira";
  src: url("../../fonts/Akira.otf")
  format("truetype");
}

@font-face {
  font-family: "PoppinsR";
  src: url("../../fonts/Poppins-Regular.ttf")
  format("truetype");
}

@font-face {
  font-family: "PoppinsB";
  src: url("../../fonts/Poppins-SemiBold.ttf")
  format("truetype");
}

@font-face {
  font-family: "Poppinss";
  src: url("../../fonts/poppinss.ttf")
  format("truetype");
}

@font-face {
  font-family: "DrukCyr";
  src: url("../../fonts/DrukWideCyTTMedium.ttf")
  format("truetype");
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}


.main__backround {
  width: 1920px;
  background: #1F252E;
  display: grid;
  place-items: center; /* Комбинированное свойство для центрирования */


  header {
    width: 1440px;
    height: 966px;
    flex-shrink: 0;
    background: #182538;

    nav {
      height: 98px;

      .nav__item {
        display: flex;
        padding: 22px 0 0 61px;

        p a {
          color: rgba(255, 255, 255, 0.80);
          font-family: Akira;
          font-size: 45px;
          font-style: normal;
          font-weight: 800;
          line-height: normal;
          letter-spacing: 1.575px;

        }

        .launges {
          display: flex;
          margin-left: 942px;
          gap: 30px;

          .active {
            color: rgba(149, 161, 174, 0.80);
          }

          p {
            color: rgba(255, 255, 255, 0.80);
            font-family: Akira;
            font-size: 45px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
            letter-spacing: 1.575px;


          }
        }
      }
    }

    .header__item {
      margin-left: 155px;
      margin-top: 189px;

      h1 {
        color: #95A1AE;
        font-family: Akira;
        font-size: 45px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        letter-spacing: 1.575px;

      }

      .text1 {
        display: flex;
        gap: 17px;
        margin-top: 21px;

        .circle {
          width: 22.283px;
          height: 22.283px;
          border-radius: 17640.695px;
          background: #6FB2FF;
          align-items: center;
          justify-content: center;
          margin-top: 7px;

        }

        h2 {
          color: #95A1AE;
          font-size: 25.997px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          font-family: sans-serif;
        }
      }

      .text2 {
        display: flex;
        gap: 20px;
        margin-top: 22px;

        .circle {
          width: 22.283px;
          height: 22.283px;
          border-radius: 17640.695px;
          background: #6FB2FF;
          align-items: center;
          justify-content: center;
          margin-top: 7px;
        }

        h2 {
          color: #95A1AE;
          font-family: Poppins;
          font-size: 25.997px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          font-family: sans-serif;
        }
      }

      .text3 {
        display: flex;
        gap: 20px;
        margin-top: 22px;

        .circle {
          width: 22.283px;
          height: 22.283px;
          border-radius: 17640.695px;
          background: #6FB2FF;
          align-items: center;
          justify-content: center;
          margin-top: 7px;
        }

        h2 {
          color: #95A1AE;
          font-family: Poppins;
          font-size: 25.997px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          font-family: sans-serif;
        }
      }
    }

    .contacts__ico {
      display: flex;
      margin-left: 155px;
      margin-top: 21px;


      .telegram {
        position: absolute;
        display: flex;
        width: 94.245px;
        height: 93.862px;
        padding: 4.652px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2.372px;
        flex-shrink: 0;
        border-radius: 27.915px;
        background: linear-gradient(180deg, rgba(246, 247, 251, 0.10) 0%, rgba(233, 235, 240, 0.10) 100%);
        backdrop-filter: blur(6.978736400604248px);

        img {
          width: 97px;
          height: 94px;

        }
      }

      .instagram {
        margin-left: 110px;
        position: absolute;
        display: flex;
        width: 94.245px;
        height: 93.862px;
        padding: 4.652px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2.372px;
        flex-shrink: 0;
        border-radius: 27.915px;
        background: linear-gradient(180deg, rgba(246, 247, 251, 0.10) 0%, rgba(233, 235, 240, 0.10) 100%);
        backdrop-filter: blur(6.978736400604248px);
      }
    }

    .oblako1{
      margin-top: -60px;
    }

    .oblako2{
      clip: rect(90px, auto, auto, 0px);
      position: absolute;
      margin-left: 253px;
      margin-top: -510px;
    }

    .programmer{
      position: absolute;
      margin-left: 423px;
      margin-top: -360px;
    }

    .pc{
      position: absolute;
      margin-top: -313px;
      margin-left: 265px;
    }

    .Code1{
      position: absolute;
      margin-left: 368px;
      margin-top: -160px;
    }

    .Code2{
      position: absolute;
      margin-left: 531px;
      margin-top: -40px;
    }

    .Mobile{
      position: absolute;
      margin-left: 155px;
      margin-top: -20px;
    }
  }
}

section {
  width: 1440px;
  height: 2009px;
  flex-shrink: 0;
  background: #182538;

  hr {
    margin-left: 161px;
    width: 1115.26px;
    height: 1px;
    stroke-width: 1px;
    stroke: black;
  }

  .tt {
    h2 {
      //margin-left: 412px;
      margin-top: 25px;
      font-family: 'DrukCyr';
      color: #95A1AE;
      font-size: 30px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 1.05px;
    }
  }

  .d-flexx {
    display: flex;
    .card1 {
      width: 520px;
      height: 720px;
      flex-shrink: 0;
      border-radius: 50px;
      background: #F7BB67;
      margin-left: 163px;
      margin-top: 187px;

      h2 {
        width: 169px;
        margin-left: 167px;
        padding-top: 26px;
        color: #FFF;
        text-align: center;
        font-family: Druk;
        font-size: 17px;
        font-style: normal;
        font-weight: 300;
        line-height: 17px; /* 100% */
        letter-spacing: 0.97px;
        text-transform: lowercase;
        margin-top: 0;
      }

      h3 {
        margin-left: 18px;
        margin-top: -90px;
        color: var(--white, #FFF);
        text-align: center;

        /* Paragraph */
        font-family: PoppinsR;
        font-size: 20px;
        font-style: normal;
        font-weight: 100;
        line-height: 30px; /* 150% */
        width: 469px;
        height: 124.615px;
        flex-shrink: 0;
      }

      .button__link{
        margin-left: 182px;
        margin-top: 14px;
        a{
          button {
            width: 139.321px;
            height: 58.626px;
            flex-shrink: 0;
            border-radius: 10px;
            background: var(--white, #FFF);
            border: 0;
            color: #F7BB67;
            font-family: Akira;
            font-size: 12px;
            font-style: normal;
            font-weight: 800;
            line-height: 26px; /* 216.667% */
          }
        }
      }

      img {
        width: 475px;
        height: 420px;
        margin-left: 30px;
        margin-top: 48px;
      }
    }


    .card2 {
      width: 520px;
      height: 520px;
      flex-shrink: 0;
      border-radius: 50px;
      background: #95A1AE;
      margin-left: 79px;
      margin-top: 187px;


      h2 {
        width: 149px;
        height: 17px;
        flex-shrink: 0;
        color: #FFF;
        text-align: center;
        font-family: Druk;
        font-size: 17px;
        font-style: normal;
        font-weight: 500;
        line-height: 17px; /* 100% */
        letter-spacing: 0.17px;
        text-transform: lowercase;
        margin-left: 186px;
        padding-top: 23px;
        margin-top: 0;
      }

      img{
        margin-left: 66px;
        flex-shrink: 0;
      }

      h3{
        width: 469px;
        height: 59px;
        flex-shrink: 0;
        color: var(--white, #FFF);
        text-align: center;

        /* Paragraph */
        font-family: 'PoppinsR';
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px; /* 150% */
        margin-top: -50px;
        margin-left: 18px;
      }

      .button__link{
        margin-left: 182px;
        margin-top: 31px;
        a{
          button{
            width: 139.321px;
            height: 57.645px;
            flex-shrink: 0;
            border-radius: 10px;
            background: var(--white, #FFF);
            color: #800A7A;
            font-family: 'Akira';
            font-size: 12px;
            font-style: normal;
            font-weight: 800;
            line-height: 26px; /* 216.667% */
            border: 0;
          }
        }
      }
    }

    .card3 {
      width: 520px;
      height: 520px;
      flex-shrink: 0;
      border-radius: 50px;
      background: #A695AE;
      margin-left: 167px;
      margin-top: 68px;


      h2 {
        width: 149px;
        height: 17px;
        flex-shrink: 0;
        color: #FFF;
        text-align: center;
        font-family: Druk;
        font-size: 17px;
        font-style: normal;
        font-weight: 500;
        line-height: 17px; /* 100% */
        letter-spacing: 0.17px;
        text-transform: lowercase;
        margin-left: 186px;
        padding-top: 23px;
        margin-top: 0;
      }

      img{
        margin-left: 66px;
        flex-shrink: 0;
      }

      h3{
        width: 469px;
        height: 59px;
        flex-shrink: 0;
        color: var(--white, #FFF);
        text-align: center;

        /* Paragraph */
        font-family: 'PoppinsR';
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px; /* 150% */
        margin-top: -50px;
        margin-left: 18px;
      }

      .button__link {
        margin-left: 182px;
        margin-top: 31px;
        a {
          button {
            width: 139.321px;
            height: 57.645px;
            flex-shrink: 0;
            border-radius: 10px;
            background: var(--white, #FFF);
            color: #800A7A;
            font-family: 'Akira';
            font-size: 12px;
            font-style: normal;
            font-weight: 800;
            line-height: 26px; /* 216.667% */
            border: 0;
          }
        }
      }
    }

    .card4 {
      border-radius: 50px;
      background: #8C67F7;
      width: 520px;
      height: 720px;
      flex-shrink: 0;
      margin-left: 78px;
      margin-top: -132px;


      h2 {
        width: 169px;
        margin-left: 191px;
        padding-top: 26px;
        color: #FFF;
        text-align: center;
        font-family: Druk;
        font-size: 17px;
        font-style: normal;
        font-weight: 300;
        line-height: 17px; /* 100% */
        letter-spacing: 0.97px;
        text-transform: lowercase;
        margin-top: 0;
      }

      h3 {
        margin-left: 18px;
        width: 472px;
        margin-top: 0px;
        color: var(--white, #FFF);
        text-align: center;

        /* Paragraph */
        font-family: PoppinsR;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px; /* 150% */
      }

      .button__link {
        margin-left: 182px;
        margin-top: 31px;
        a {
          button {
            width: 139.321px;
            height: 57.645px;
            flex-shrink: 0;
            border-radius: 10px;
            background: var(--white, #FFF);
            color: #800A7A;
            font-family: 'Akira';
            font-size: 12px;
            font-style: normal;
            font-weight: 800;
            line-height: 26px; /* 216.667% */
            border: 0;
          }
        }
      }

      img {
        width: 450px;
        height: 450px;
        flex-shrink: 0;
        margin-left: 40px;
      }
    }

  }

  .more{
    margin-left: 543px;
    margin-top: 32px;
    width: 355px;

    .all{
      color: #95A1AE;
      font-family: DrukCyr;
      font-size: 30px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      letter-spacing: 1.05px;
    }

    h3{
      color: #95A1AE;
      text-align: center;
      font-family: DrukCyr;
      font-size: 30px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      letter-spacing: 1.05px;
    }
  }
  hr{
    width: 1127px;
    height: 0px;
    flex-shrink: 0;
    stroke-width: 1px;
    stroke: #95A1AE;
    margin-top: 167px;
  }
}

footer{
  width: 1440px;
  height: 1121px;

  h2{
    margin-left: 15px;
    margin-top: 91px;
    color: #95A1AE;
    text-align: center;
    font-family: Akira ;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }

  .d-flexx{
    display: flex;
    margin-left: 508px;
    margin-top: 23px;
    gap: 15.7px;

    .telegram{
      display: flex;
      width: 93.273px;
      height: 93.862px;
      padding: 4.652px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 4.652px;
      flex-shrink: 0;
      border-radius: 27.915px;
      background: linear-gradient(180deg, rgba(246, 247, 251, 0.10) 0%, rgba(233, 235, 240, 0.10) 100%);
      backdrop-filter: blur(6.978736400604248px);

      img{
        width: 97px;
        height: 94px;
      }
    }

    .instagram{
      display: flex;
      width: 93.273px;
      height: 93.862px;
      padding: 4.652px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 4.652px;
      flex-shrink: 0;
      border-radius: 27.915px;
      background: linear-gradient(180deg, rgba(246, 247, 251, 0.10) 0%, rgba(233, 235, 240, 0.10) 100%);
      backdrop-filter: blur(6.978736400604248px);

    }

    .discord{
      display: flex;
      width: 93.273px;
      height: 93.862px;
      padding: 4.652px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 4.652px;
      flex-shrink: 0;
      border-radius: 27.915px;
      background: linear-gradient(180deg, rgba(246, 247, 251, 0.10) 0%, rgba(233, 235, 240, 0.10) 100%);
      backdrop-filter: blur(6.978736400604248px);
    }

    .gmail{
      display: flex;
      width: 93.273px;
      height: 93.862px;
      padding: 4.652px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 4.652px;
      flex-shrink: 0;
      border-radius: 27.915px;
      background: linear-gradient(180deg, rgba(246, 247, 251, 0.10) 0%, rgba(233, 235, 240, 0.10) 100%);
      backdrop-filter: blur(6.978736400604248px);
    }
  }

  .text__about{
    margin-left: 414px;
    margin-top: 19px;
    width: 600px;


    h3{
      color: #95A1AE;
        font-family: DrukCyr;
      font-size: 16px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      text-align: center;
      letter-spacing: 1.1px;
    }
  }

  .Coder{
    display: flex;
    margin-left: 79px;

    .Coder2{
      margin-left: -79px;
    }
  }
}
